.customLegend{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 84%;
  margin-left: 8%;
  p{
    color: #20253A;
    font-size: 15px;
    font-weight: 500;
  }
}

ul{
  display: flex;
  justify-content: flex-end;
}
.legendItem{
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    position: relative;
    // left: -50%;
    // top: 25%;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 1000;
  }
}
.legendItem p{
  font-family: 'Roboto';
  position: relative;
  margin: 0;
  margin-left: 20px;
  font-size: 14px;
  color: #74798C;
}
.legendItem.calories span{
  background-color: #FF0101;
}
.legendItem.kilogram span{
  background-color: #000;
}

.chart-bar-tooltips{
  position: relative;
  // padding-right: 20px;
  width: 60px;
  text-align: start;
  height: 75px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  // padding: 10px;
  font-weight: 500;
  font-size: 11px;
  color: white;
  background-color: #E60000;
  text-align: left;
  span{
    z-index: 14;
    padding-right: 20px;
    width: 100%;
    padding: 10px 10px;
    margin-left: 5px !important;
  }
}