.lineContainer{
  position: relative;
  width: 250px;
  height: 200px;
}
.chart-line-tooltips{
  color: black;
  background-color: #fff;
  padding: 10px;
  font-weight: 500;
  font-size: 8px;
}

.lineTitle{
  position: absolute;
  z-index: 4;
  font-size: 15px;
  color: #ffff;
  opacity: 0.4;
  font-weight: 500;
  top: 20px;
  left: 20px;
  width: 55%;
}