.user-container{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 45px;
  }
  a{
    color: white;
    transition: all 0.6s;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #FF0101;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: 500;
    &:hover{
      color: yellowgreen;
      background-color: #e55454;
    }
  }
}